@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  list-style-type: none;
}

a, .navbar .dropdown-menu li:hover > a, .navbar .dropdown-menu li:focus > a, .navbar .dropdown-menu li:active > a, .navbar .navbar-nav > li .dropdown-menu li:hover > a, body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a, body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a:hover, body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a:focus, a:hover, .card-blog a.moretag:hover, .card-blog a.more-link:hover, .widget a:hover, .has-text-color.has-accent-color, p.has-text-color a {
  color: inherit !important;
font-weight: bold;
}

html, body {
  min-height: 100%;
}

body {
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
}

  p {
    margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  
  margin: 0 auto;
}

nav {
  font-family: 'Teko', sans-serif;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 60px;
}


nav .logo {
  display: flex;
  align-items: center;
  padding: 150px;
}

nav .logo img {
  height: 55px; /* Adjust the height as needed */
  margin-right: 10px; /* Add spacing between logo and other elements */
}

nav .main-links > li {
  margin-right: -30px; /* Adjust the margin-right value to adjust spacing */
}
li {
  padding-right: 50px;
}
nav .links {
  display: flex;
  align-items: center;
}

nav .links > a {
  margin-right: 20px;
  
}

nav .dropdown {
  position: relative;
  font-family: 'Teko', sans-serif;
}
nav .dropdown ul {
    position: absolute;
    right: 0;
    background: rgb(255, 244, 244);
    display: none;
  }

nav .dropdown:hover ul {
  display: block;
  
}

nav .dropdown ul li {
  margin-top: 20px;
}

/*Nav text */
nav a {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid rgb(255, 0, 0);

}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
}
nav .dropdown ul li {
  margin-bottom: 8px; /* Adjust this value for the desired spacing */
}

/*Modifies the drop down appearance*/
ul li:hover > ul,
ul li ul:hover {
  list-style: none;
  visibility: visible;
  opacity: 1;
  display: block;
  text-align: right;
  top: 100%; /* Adjust this value to position the dropdown below the navigation bar */
  background-color: rgba(11, 11, 11, 0.345);
  width: relative;
  z-index: 1000;
  width: 125px;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 0; /* Adjusted to keep the dropdown items closer */
  border-style: none;
}

ul li ul li a:hover {
  transition: all 0.3s ease;
}

ul li ul li a {
  transition: all 0.5s ease;
}

footer p {
  text-align: center;
  color: #bbb;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    color: #3CA0E7;
  }
}
