.servicesStyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
  }
  .servicesStyle h4 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
  }
  .servicesStyle p {
    color: #2f2f2f;
    margin-top: 4px;
    text-align: center;
  }

  .servicesStyle h2 {
    justify-content: center;
    position: relative;
    text-align: center;
    font-weight: 500;
  }
